<template name="list">
	<div id="app-buttons">
		<div class="form-inline">
			<div class="col-xs-4" id="index-layout-layer-radius-bottom-left"></div>
			<div class="col-xs-4" id="app-buttons-content">
				<p class="text-center">
					<button id="add-data-btn" class="btn btn-default">
						<span class="glyphicon glyphicon-plus"></span>
						<strong>Toevoegen</strong>
					</button>
				</p>
			</div>
			<div class="col-xs-4" id="index-layout-layer-radius-bottom-right"></div>
		</div>
	</div>
	<div id="list-metadata" class="col-xs-offset-1 col-xs-10">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-xs-1"><span>Actie</span></th>
					<th class="col-xs-1"><span>Naam</span></th>
					<th class="col-xs-5"><span>Titel</span></th>
					<th class="col-xs-2"><span>Datum</span></th>
					<th class="col-xs-2"><span>Bijlage</span></th>
					<th class="col-xs-1"><span>Verwijderen</span></th>
				</tr>
			</thead>
			<tbody>
				{{#each showGeodata}}
					<tr>
						<td class="col-xs-1"><a href="/form/edit/{{_id}}"><span class="glyphicon glyphicon-edit"></span></a></td>
						<td class="col-cs-1">{{name}}</td>
						<td class="col-xs-5">{{title}}</td>
						<td class="col-xs-2">{{formatDate date}}</td>
						<td class="col-xs-2">
							{{#each showAttachments _id}}
								{{#each attachmentIds}}
									<a href="/files/{{.}}"><span class="glyphicon glyphicon-eye-open"></span></a>
								{{/each}}
							{{/each}}
						</td>
						<td class="col-xs-1"><span id={{_id}} class="glyphicon glyphicon-remove js-remove-data"></span></td>
					</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
</template>