#add-data-btn {width:45%;background-color:#3FBF3F;color:#ffffff;height:60px;}
#search-data-input {width:45%;height:60px;}
#list-metadata {margin-top:20px;margin-bottom:20px;}
.js-remove-data:hover{cursor:pointer;}