body {font-family:verdana;background-color:#C4C8B7;}
#banner {height:150px;background-color:#C4C8B7;}
.logo {padding:20px 10px 10px;max-height:150px;max-width:300px;}
.logo-div {height:100%;background-color:#ffffff;}
#page-content {height:auto;}
.div-with-margin {margin-top:15px;margin-bottom:15px;}
.negate-margin {margin:0;}
.main-layout-layer {height:100%;background-color:#C4C8B7;}

#logo-div-client {border:1px solid #ffffff;border-radius: 0 0 30px 0;background-clip:padding-box;}
#logo-div-idgis {border:1px solid #ffffff;border-radius: 0 0 0 30px;background-clip:padding-box;}

#login-div {background-color:#ffffff;}

#app-logout {position:absolute;top:5px;right:5px;}